node_modules
dist
.idea
.DS_Store

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# From scripts
scripts/temp/**/*.*

# Generated info file
info.json

# Everything but .example.env
.env.*
!.env.*example*
.turbo

vscode-**
